<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <servlet>
    <servlet-name>MailingController</servlet-name>
    <servlet-class>com.realtimetpo.controllers.MailingController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>NotifyController</servlet-name>
    <servlet-class>com.realtimetpo.controllers.NotifyController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.realtimetpo.controllers.Logout</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>com.realtimetpo.controllers.LoginController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RegController</servlet-name>
    <servlet-class>com.realtimetpo.controllers.RegController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EligibleController</servlet-name>
    <servlet-class>com.realtimetpo.controllers.EligibleController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MailingController</servlet-name>
    <url-pattern>/MailingController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EligibleController</servlet-name>
    <url-pattern>/EligibleController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NotifyController</servlet-name>
    <url-pattern>/NotifyController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegController</servlet-name>
    <url-pattern>/RegController</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
</web-app>